<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Operations of transactions</h5>
          <p class="category">security is our priority
            
          </p>

        </div>

  
        <div class="card-body all-icons">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                 
                  <div class="places-buttons">
                    <div class="row">
                      <div class="col-md-6 ml-auto mr-auto text-center">
                        <h4 class="card-title">
                          Your operations 
                          <p class="category">Click to choose your transaction method</p>
                        </h4>
                        
                      </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-lg-8 ml-auto mr-auto">
                        <div class="row">
                          <div class="col-md-4">
                            <button class="btn btn-mauve btn-block" routerLink="/deposit-form">DEPOSIT</button>
                              <!--   <button class="btn btn-primary btn-block" (click)="showNotification('top','left')">DEPOSIT</button>-->
                          </div>
                         <!--
                         <div>
                          <button (click)="showDepositForm()">Deposit</button>
                          <ng-container *ngIf="showDeposit">
                            <app-deposit-form></app-deposit-form>
                          </ng-container>

                        </div>-->
                          <div class="col-md-4">
                            <button class="btn btn-mauve btn-block"  routerLink="/withdraw-form">WITHDRAW</button>
                          </div>
                          <div class="col-md-4">
                            <button class="btn btn-mauve btn-block" routerLink="/transfer-form">TRANSFERT</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 ml-auto mr-auto">
                        <div class="row">
                          <div class="col-md-4">
                            <!--   <button class="btn btn-primary btn-block" routerLink="/validate-trans-form">VALIDATE YOUR DEPOSIT</button> <button class="btn btn-primary btn-block" (click)="showNotification('bottom','left')">VALIDATE YOUR DEPOSIT</button>  -->
                           
                          </div>
                          <div class="col-md-4"><!--  <button class="btn btn-primary btn-block" routerLink="validate-trans-form">VALIDATE YOUR WITHDRAW</button>
                          </div> <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')">VALIDATE YOUR WITHDRAW</button> -->
                           
                          <div class="col-md-4">
                      <!--     <button class="btn btn-primary btn-block" (click)="showNotification('bottom','right')">VALIDATE YOUR TRANSFERT</button>-->  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
