

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    width: 400px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-box p {
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
    font-size: 22px;
  }
  
  .user-box {
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #00bcd4;
    font-size: 12px;
  }
  
 /* styles.css or styles.scss */
/* styles.css or styles.scss */
::ng-deep .btn-mauve {
  background-color: #8b008b; /* Mauve color */
  border-color: #8b008b;
  color: #ffffff;
}

::ng-deep .btn-mauve:hover {
  background-color: #9932cc; /* Darker mauve color on hover */
  border-color: #9932cc;
}

